/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        cmd_backspace: cmd_backspace {
            compatible = "zmk,behavior-hold-tap";
            label = "CMD_BACKSPACE";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <37>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q         &kp W  &kp E         &kp R                                  &kp T               &kp Y        &kp U        &kp I       &kp O    &kp P            &none
&none  &kp A         &kp S  &kp D         &kp F                                  &kp G               &kp H        &kp J        &kp K       &kp L    &kp SEMI         &none
&none  &mt LSHIFT Z  &kp X  &kp C         &kp V                                  &kp B               &kp N        &kp M        &kp COMMA   &kp DOT  &mt RSHIFT FSLH  &none
                            &mt LALT TAB  &cmd_backspace LEFT_COMMAND BACKSPACE  &mt LEFT_GUI ESC    &lt 1 ENTER  &lt 2 SPACE  &kp DELETE
            >;
        };

        number {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp GRAVE       &kp F7  &kp F8  &kp F9  &kp F10    &trans  &kp N7  &kp N8  &kp N9  &kp N0           &none
&none  &kp TAB         &kp F4  &kp F5  &kp F6  &kp F11    &trans  &kp N4  &kp N5  &kp N6  &kp SQT          &none
&none  &kp LEFT_SHIFT  &kp F1  &kp F2  &kp F3  &kp F12    &trans  &kp N1  &kp N2  &kp N3  &kp RIGHT_SHIFT  &none
                               &trans  &trans  &trans     &trans  &trans  &trans
            >;
        };

        symbol {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp GRAVE   &trans  &kp LPAR  &kp RPAR  &kp MINUS    &kp C_PREV  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT  &kp C_PLAY_PAUSE  &none
&none  &kp TAB     &trans  &kp LBRC  &kp RBRC  &kp EQUAL    &kp LEFT    &kp DOWN      &kp UP        &kp RIGHT   &kp SQT           &none
&none  &kp LSHIFT  &trans  &kp LBKT  &kp RBKT  &kp BSLH     &trans      &trans        &trans        &trans      &kp RSHIFT        &none
                           &trans    &trans    &trans       &trans      &trans        &trans
            >;
        };
    };
};
